*.axf
*.d
*.o
*.html
*.eww
*.dep
*.ewp
*.ewt
mm32f327x_g8p*
app*
*.png
LICENSE*
core*
hal*
*.bat
*.icf
*.ini
*.lst
*.txt
*.css
*.zip
*.xlsx
diskio.*
ff*
mm32f327*
zf*
system*
arm*
cmsis*
mpu*
tz*
*.s
*.json
CarCode/mdk/.clangd
*.iex
*.log
*.scvd
CarCode/mdk/.vscode/uv4.log.lock
CarCode/mdk/tmp